@{
    ViewData["Title"] = "Home Page";
}
<head>
<body>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</body>
</head>
<div class="text-center align-items-center">
    <h1 class="display-4" style="color:white;">Welcome to SMIS</h1>
</div>
