@model IEnumerable<SchoolManagmentSystem.Models.Course>
@{
    ViewData["Title"] = "List of Courses";
}
<h1>Courses</h1>
<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
            </tr>
        }

    </tbody>
    </table>
<div>
    <button class="btn btn btn-light">
        <a class="btn btn-ligt text-secondary" asp-action="Index">Back to List</a>
    </button>
</div>
