@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create Role";
}
<br />
<h1 class="d-flex justify-content-center" style="color:white;">Create Roles</h1>
<hr />
<br />

<div class="text-center align-items-center">
    <form style="display:flex; flex-direction:column;  align-items:center" asp-action="CreateRole" method="post">
        <div class="form-group">
            <input class="form-control" style="width:400px; height:50px; border: 1px solid #202528" type="text" name="roleName" placeholder="Create Role"/>
        </div>
        <br />
        <div class="form-group">
            <input class="btn btn-secondary" type="submit" name="submit" value="Add" />
        </div>
    </form>
</div>
