<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolManagmentSystem.styles.css" asp-append-version="true" />

    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

  </style>
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SMIS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    <div><li class="nav-item mx-10">
                                    <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Adm" asp-action="Index">Dashboard</a>
                                </li></div>
                        <!-- Example single danger button -->
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                University
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Branches" asp-action="Index">Branches</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DeptBranches" asp-action="Index">Deptartments & Branches</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Professors" asp-action="Index">Professors</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Assistants" asp-action="Index">Assistants</a>
                                </li>

                            </ul>
                        </div>

                        <!-- Example single danger button -->
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Students Interests
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Enrollments" asp-action="Index">Enrollments</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Transcripts" asp-action="Index">Transcripts</a>
                                </li>
                            </ul>
                        </div>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <h4>Manage</h4>
                <ul class="nav nav-pills nav-stacked col-sm-2">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Adm" asp-action="Index">Admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Adm" asp-action="CreateRole">Create Role</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Adm" asp-action="ListUsers">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Adm" asp-action="RolesList">Roles</a>
                    </li>
                </ul>
                <br>
                
            </div>

            <div class="col-sm-9">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
      <footer class="border-top footer text-muted" style="background-color: white;width: 100% ;" >
        <div class="container justify-content-between" style="color:#2c4366; display:flex; flex-direction:row; ">
            <p>Telephone:+38345444444</p>
            &copy; 2023 - SchoolManagmentSystem
             <p>E-mail:info@smis.com</p>
            
        </div>
    </footer>
        </div>
    </div>

   


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
